@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

.bgimg{
    background-image:linear-gradient(rgba(255, 0, 0, 0.39) , rgb(0, 128, 0) );
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    -moz-background-size: 100%;
    position:center;
    width: 100%;
    height: 100%;
 }

h1{
    margin:0 auto;
    margin-bottom:1em;
    text-align:center;
    font-family:'Teko', cursive;
    font-size:50px;
    text-shadow: 5px 1px 5px rgba(255, 255, 255, 0.322);
}
h6{
    margin:0 auto;
    margin-bottom:5em;
    text-align:center;
    font-family:'Bilbo Swash Caps', cursive;
    font-size:26px;
    margin-top:-120px;
    
    
}
.icon{
    display:block;
    position:block;
    margin:0 auto;
    margin-bottom:2.5em;
    max-height: 100%;
    max-width: 100%;
    width: 30px;
    height: 30px;
    border:none;
    background-size: 10px;
    background-repeat:no-repeat;
}


.program{
    display:block;
    position:sticky;
    width: 40em;
    height: 45em;
    border: solid 1px transparent;
    border-radius:25px;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:0 auto;
    text-align:center;
    
}


.inputboxes{
    border-radius:10px;
    border:none;
    background-color:rgba(206, 200, 200, 0.438);
    width:400px;
    height:50px;
    font-style:italic;
    font-size:20px;
    text-align:center;
    outline:none;
    margin:0 auto;
    margin-top:1px;
}
.inputboxes:hover{
    background-color:rgba(206, 200, 200, 0.205);
}
.textalt{
    display:block;
    font-family:'Teko';
    font-size:45px;
    color:rgba(64, 64, 66);
    text-shadow: 0.5px 0px 1px rgba(17, 6, 116, 0.37);
    margin-bottom:-10px;
    padding-top:20px;
    margin-top:10px;
}    

.textdes{
    display:block;
    margin:0 auto;
    font-family:'Teko';
    font-size:45px;
    color:rgb(64, 64, 66);
    text-shadow: 0.5px 0px 1px rgba(17, 6, 116, 0.37);
    margin-bottom:-20px;
    padding-top:20px;
    
}   

.textdir{
    display:block;
    font-family:'Teko';
    font-size:45px;
    color:rgb(64, 64, 66);
    text-shadow: 0.5px 0px 1px rgba(17, 6, 116, 0.37);
    text-decoration: italic;
    margin: 0 auto;
    margin-bottom:-20px;
    padding-top:30px;
}

.selectwind{
    display:block;
    margin:0 auto;
    margin-top:-55px;
    background-color:rgba(206, 200, 200, 0.438);
    border:none;
    outline:none;
    border-radius:10px;
    width:400px;
    height:50px;
    font-family:'Teko';
    font-size:20px;
    -webkit-appearance:none;
    text-align-last:center;
}
.selectwind:hover{
    background-color:rgba(206, 200, 200, 0.103)
}

.button1 {
    margin: 0 auto;
    bottom:10px;
    position:relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 80px;
    width:50px;
    text-decoration:none;
    font-size: 15px;
    border-radius:25px;
    outline:none;
    text-align:center;
    
    
    
  }
  .button1:hover{
      background-color:#4caf4f96;
  }
  .button2 {
    margin:0 auto;
    bottom:10px;
    position:relative;
    background-color: #be1f1f;
    border: none;
    margin-left:20px;
    color: white;
    padding: 10px 80px;
    width:50px;
    text-decoration:none;
    font-size: 15px;
    border-radius:25px;
    outline:none;
    text-align:center;
   
  }
  .button2:hover{
    background-color: #b1250c65;
    }
.resultat{
    display:block;
    margin: 0 auto;
    margin-top:-500px;
    margin-right:-450px;
    width:10em;
    border-color:rgba(10, 131, 36, 0.212);
    height:5em;
    box-shadow: inset 0 0 10px #0000003b;
    border-radius:10px;
    
    
    
}
#result{
    display:block;
    position:relative;
    max-width:100%;
    max-height: 100%;
    font-size:30px;
    font-family:'Teko';
    text-align: center;
    padding-left:0.5em;
    padding-top:70px;
    color:rgb(0, 0, 0);
}
#down{
    content:url(/planedecent.png);
    display:block;
    position:absolute;
    height:3em;
    padding-top:55px;
    top:255px;
    image-rendering:optimizeQuality;
    
   
    
}