@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');


.bgimg{
    background-image:linear-gradient(rgba(255, 0, 0, 0.39) , rgb(0, 128, 0) );
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    -moz-background-size: 100%;
    position:center;
    max-width: 100%;
    max-height: 100%;
    overflow-y:scroll;
 
 }
/* Huvudrubrik */
 h1{
    margin:0 auto;
    margin-bottom:0.5rem;
    text-align:center;
    font-family:'Teko', cursive;
    font-size: 4vw;
    max-block-size: 50%;
    text-shadow: 0.3125rem 0.0625rem 0.3125rem /* 5px 1px 5px */ rgba(255, 255, 255, 0.322);
}
/* Ikon logga */
.icon{
    display:block;
    margin:0 auto;
    width: 3vw;
    height: 3vw;
    border:none;
}
/* @Badmondy */
h6{  
    margin-top: 2vw;
    text-align:center;
    font-family:'Bilbo Swash Caps', cursive;
    font-size:2vh;

}
/*App-wrapper*/
.program{
    width: 40vh;
    height: 70vh;
    border: solid 0.063rem transparent;
    border-radius:2.563rem;
    background-color: transparent;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.11), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    margin:0 auto;
    text-align:center;
    font-size:2vh;
}
.inputboxes{
    display:block;
    margin:0 auto;
    margin-top:2vh;
    border-radius:0.625rem;
    border:none;
    color:rgb(1, 5, 0);
    background-color:rgba(206, 200, 200, 0.438);
    height:3vh;
    font-weight:bold;
    font-size:2vh;
    text-align:center;
    outline:none;
    
}
.inputboxes:hover{
    background-color:rgba(206, 200, 200, 0.205);
}
.textalt{
    display:block;
    margin-top:5vh;
    font-weight:bold;
    margin-bottom:-3vh;
    

    pointer-events:none;
} 
.textdes{
    display:block;
    font-weight:bold;
    margin-top:-0.5vh;
    
    
}   
.textgs{
     display:block;
}

.textdir{
    font-size:2.5vh;
    font-weight:bold;
    color:rgb(19, 19, 170);
    text-shadow: 0.0313rem 0rem 0.0625rem rgba(17, 6, 116, 0.37);
    
}
.selectwind{
    background-color:rgba(206, 200, 200, 0.438);
    border:none;
    outline:none;
    border-radius:0.25rem; /* 10px */
    width:25vh; /* 400px */
    height:3vh; /* 50px */
    font-size:2vh; /* 20px */
    -webkit-appearance:none;
    text-align-last:center;
}
.selectwind:hover{
    background-color:rgba(206, 200, 200, 0.103)
}
.button1 {
    display:block;
    margin-top: 10vh;
    margin-left: 9vh;
    background-color: #4CAF50;
    border: none;
    padding: 0rem;
    color: rgb(255, 255, 255);
    border-radius:0.25rem;
    outline:none;
    width: 10vh;
    height: 4vh;
    font-size: 1vh;
    opacity:80%;
    
  }

.button1:hover{
    background-color:#4caf4f96;
}
.button2 {
    display:block;
    margin-top: -4vh;
    margin-left: 21vh;
    background-color: #c71423;
    border: none;
    padding: 0rem;
    color: rgb(255, 255, 255);
    border-radius:0.25rem;
    outline:none;
    width: 10vh;
    height: 4vh;
    font-size: 1vh;
    opacity:80%;
   
  }
  .button2:hover{
    background-color: #b1250c65;
    }

    .slider{
        display:block;
        -webkit-appearance: none;
        margin-top: -10vh;
        margin-left: 10vh;
        width: 20vh;
        height: 1vh; /* 15px */
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        border-radius:1.5625rem; /* 25px */
        cursor:pointer;
        -webkit-transition: .2s;
        transition: opacity .2s;
        
    }
    .slider:hover{
        opacity:0.95;
    }
    .slider::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        width: 1.9vw; 
        height: 1.9vh; 
        background: #2c2c2b;
        cursor: pointer;
        border-radius: 1.5625rem; 
        
    }
    #arrow{
        transition:3s ease-out;
        width:8.25vh;
        transform:rotate(180deg);
        transform: origin 0;
        outline:none;
        pointer-events:none;
    }
  
        #down{
            display:block;
            height:6vh;
            margin-top: -6vh;
            image-rendering:optimizeQuality;
            transition: 3s ease-in;
            
           
        }
    .resultat{
        display:block;
        
        
        margin: 0 auto;
        width:40vh;
        height:20vh;
        color:rgb(255, 255, 255);
        font-weight: bold;
    }
    #result{
        display:block;
        margin-top:-1vh;
    }
